<div class="search-page" fxLayout="column">
    <div class="header" fxLayout="row" fxLayoutAlign="center center">
        <div class="searchContainer" fxLayout="row" fxLayout="space-between center" (click)="input.focus()"
            (clickOutside)="input.blur()">
            <input #searchInput="ngModel" #input id="input" fxFlex="80%" class="searchBox"
                name="search" placeholder="Search" [(ngModel)]="searchQuery" autocomplete="off" spellcheck="false">
        </div>
        <button fxFlex="15vw" mat-flat-button *ngIf="searchQuery"
            (click)="searchQuery = ''; searchResults = []">Clear</button>
    </div>
    <div class="content">
        <div class="results" *ngIf="searchResults">
            <span *ngFor="let user of searchResults">
                <account-row *ngIf="user?.id" [showButtons]="false" [id]="user.id" [handle]="user.handle" [name]="user.username"></account-row>
            </span>
        </div>
    </div>
</div>