<div class="profile" fxLayout="column">
    <div class="header" fxLayout="column" fxLayoutAlign="center center">
        <div class="username">{{ff.profile.service.username}}</div>
        <div class="container-row" fxLayout="row" fxLayoutAlign="space-between center">
            <avatar class="avatar" size="medium"></avatar>
            <div class="stat-container" fxLayout="column" fxLayoutAlign="center center">
                <span>{{ff.profile.service.numPosts}}</span>
                <span>Posts</span>
            </div>
            <div class="stat-container" fxLayout="column" fxLayoutAlign="center center" (click)="showFollowers()">
                <span>{{ff.profile.service.numFollowers}}</span>
                <span>Followers</span>
            </div>
            <div class="stat-container" fxLayout="column" fxLayoutAlign="center center" (click)="showFollowing()">
                <span>{{ff.profile.service.numFollowing}}</span>
                <span>Following</span>
            </div>
        </div>
    </div>
    <mat-divider class="divider"></mat-divider>
</div>