.image-cropper {
    position: relative;
    background: rgb(182, 182, 182); 
    overflow: hidden;
    border-radius: 50%;
    border: 0.125rem solid rgb(56, 56, 56);   
    margin: 0.75rem 0rem 0rem 0.75rem;             
}
.portrait { 
    height: auto;
    width: 100%;
}

.small {
    width: 2.375rem;
    height: 2.375rem;
}

.medium {
    width: 4.375rem;
    height: 4.375rem;
}

.large {
    width: 6.375rem;
    height: 6.375rem;
}