<back-header [title]="ff.profile.service.handle">
    <mat-tab-group mat-stretch-tabs [disableRipple]="true" [selectedIndex]="tabIsFollowing ? 1 : 0">
        <mat-tab [label]="ff.profile.service.numFollowers + ' Followers'">
            <account-row [handle]="user.handle" [name]="user.username" [following]="user.following"
                *ngFor="let user of ff.profile.service.followers"></account-row>
        </mat-tab>
        <mat-tab [label]="ff.profile.service.numFollowing + ' Following'">
            <account-row [handle]="user.handle" [name]="user.username" [following]="user.following"
                *ngFor="let user of ff.profile.service.following"></account-row>
        </mat-tab>
    </mat-tab-group>
</back-header>