<div class="noscroll app-display" fxLayout="column">
    <div class="content noscroll">
        <News-Feed *ngIf="settings.selectedRoute==='feed'" [params]="ffs.ff[settings.selectedRoute] || []"></News-Feed>
        <router-outlet class="noscroll" *ngIf="settings.selectedRoute!=='feed'"></router-outlet>
    </div>
    <div class="footer noscroll" *ngIf="settings.showNavBar">
        <span class="menu-icons" fxLayoutAlign="space-around center">
            <ng-container *ngFor="let icon of menuIcons">
                <mat-icon class="icon" [svgIcon]="settings.selectedIcon === icon.title ? icon.active : icon.title"
                    (click)="settings.changeRoute(icon)" *ngIf="ffs.ff[icon.featureFlag]?.display"></mat-icon>
            </ng-container>
        </span>
    </div>
</div>