@import '../../../../variables.less';

.app-display {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .menu {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: lightgray; // TODO: delete this
        height: 10vh;

        .menu-icons {
            width: 100%;
            height: 100%;

            .icon {
                color: @icon-default;
                width: 12%;
                height: auto;
            }
        }
    }
}