@import './variables.less';

body { 
    margin: 0;
    padding: 1rem 0rem 0rem 0rem;
    overflow: hidden !important;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: @default-font-size;
}

.btn:focus {
    outline: none;
}

.noscroll {
    overflow: hidden !important;
}

button {
    box-shadow: none !important;
    background-image: none !important;
    outline: 0 !important;
}