@import './variables.less';

body { 
    margin: 0;
    padding: 1.5rem 0rem 0rem 0rem;
    overflow: hidden !important;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: @default-font-size;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn:focus {
    outline: none;
}

.noscroll {
    overflow: hidden !important;
}

button {
    box-shadow: none !important;
    background-image: none !important;
    outline: 0 !important;
}