@import '../../../../variables.less';


.header {
    height: 3rem;
    width: 100%;
}

.camera {
    position: absolute;
    padding-top: 0.5rem; 
    left: 1rem;
    width: 2rem;
    height: auto;
}

.logo {
    z-index: 1;
}